<h1>Hangman</h1><br><br>
<p>Guessed Letters:</p><br>
<p>Remaining Guesses:</p>
<img src="images/Hangman<%= incorrect %>.png">
		
<form>
	Enter a Letter:
	<input type='text' name ='letter' maxlength="1" size="1"><br>
	<input type='submit' value='Guess!'>
</form>