<br>
<%= "<p>Guessed Letters: #{@guesses.join(" ")}</p>" %><br>
<%= "Remaining Guesses: #{6 - @incorrect}" %><br>

<img src="images/Hangman<%= @incorrect %>.png"><br>

<%= @display %><br><br>

<br><br>
		
<form>
	Enter a Letter:
	<input type='text' name ='letter' maxlength="1" size="1" required="required" pattern="[a-zA-Z]" title="Letter between A through Z."><br>
	<input type='submit' value='Guess!'>
</form>