<html>
	<head>
		<title>Hangman</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/css/reset.css" type="text/css" rel="stylesheet">
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body>
		<%= yield %>
	</body>
</html>